<div id="about-us-info">
     <h2 class="text-center" id="about-header">About Us</h2>
    <p>
         Welcome to DevMatch. We are a community of developers, entrepreneurs, and investors who are interested in meeting one another and sharing ideas. 
         This site was developed by Tobi Kehinde while learning Ruby on Rails development.
    </p>
    <br/>
    <h3>Notable Gems Used</h3>
    <ul>
         <li>
              Devise: For handling user membership and authentication
         </li>
         <li>
              Stripe: For handling payments from user. Please use credit card number 4111111111111111 and any 3 digits as your CVV to test the payment functionality.
         </li>
         <li>
              Figaro: Used to hide secret keys
         </li>
         <li>
              Paperclip: Using paperclip for image uploads
         </li>
         <li>
              Bootstrap: Using bootstrap for styling
         </li>
         
    </ul>
    <br/>
    <h3>Source Code</h3>
    <p>
         The complete source for this project can be found at my <a href="https://github.com/tobi411/kaizest_saas" target="_blank">GitHub</a>
    </p>
    
</div>
