@import "bootstrap-sprockets";
@import "bootstrap";

@import "font-awesome-sprockets";
@import "font-awesome";

//body css
body {
    background-color: #333C54;
}

.navbar{
    margin-bottom: 0;
}

nav.navbar-inverse{
    background-color: rgba(0,0,0,0.5);
    border:0;
}

.jumbotron{
    // position: absolute;
    // left: 0;
    // right: 0;
}

#plan-type, #new-profile-info,#edit-profile-info {
    color: #efefef;
    margin-bottom: 20px;
}

.container .jumbotron, .container-fluid .jumbotron{
    border-radius:0;
}

#new-contact-well, #sign-up-well, #sign-in-well{
    margin-top: 30px;
}

.alert-notice{
    color: black;
    background-color: #5e9cd1;
    border-color: #5e9cd1;
}

.job-title-icon{
    width: 30px;
    height: 30px;
    border: 2px solid #2e6da4;
    display: inline-block;
    border-radius: 4px;
    background-color: #337ab7;
    color: white;
    text-align: center;
}

#user-profile, #user-account{
    color: #efefef;
}

#user-profile .well{
    background-color: rgba(255,255,255,0.3);
}

#user-profile .well h3{
    margin: 0 0 15px 0;
}

img#user-profile-pic{
    width: 8em;
    border-radius: 100%;
    margin: 20px;
    padding: 0 5px;
}

/* Users Index Page Styles */
.user-index-avatar {
  border-radius: 50%;
}
.well.white-bg {
  background-color: white;
}